<!DOCTYPE html>
<html lang="en">
<head>
  <title>App</title>
</head>
<body>
<div id="root">
  <div id="flash_success">
    {% for message in app.flashes('success') %}
      <p class="alert alert-success">
        {{- message -}}
      </p>
    {% endfor %}
  </div>
  <p>Notify user:</p>
  {{ form(form) }}
</div>
</body>
</html>